/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/chipseq -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'

  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 12.h
  
  // Not mandatory but permits the pipeline to run through peak-calling steps
  macs_gsize = 1.2e7

  // For speed to avoid CI time-out
  fingerprint_bins = 100
}