name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Setup Sphinx environment
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          pip install -r docs/requirements.txt

      - name: Test doc generation
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"

          cd docs
          make html

  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup mamba
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: snakemake
          channels: "conda-forge, bioconda"
          miniforge-variant: Mambaforge
          miniforge-version: latest

      - name: Setup Snakemake environment
        shell: bash -el {0}
        run: |
          conda config --set channel_priority strict
          mamba install -n snakemake -y snakemake-minimal snakemake-storage-plugin-http pytest pandas

      - name: Fetch master
        if: github.ref != 'refs/heads/master'
        run: |
          git fetch origin master

      - name: Run tests
        shell: bash -el {0}
        env:
          DIFF_MASTER: ${{ github.event_name == 'pull_request' }}
          DIFF_LAST_COMMIT: ${{ github.ref == 'refs/heads/master' }}
        run: |
          # run tests
          pytest test.py -v
