name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches_ignore: []
  schedule:
    - cron: '0 0 * * 0'

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Setup Sphinx environment
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          pip install -r docs/requirements.txt
      
      - name: Test doc generation
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"

          cd docs
          make html

  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup Snakemake environment
        run: |
           conda install -c conda-forge mamba --quiet
           export PATH="/usr/share/miniconda/bin:$PATH"
           mamba create -c bioconda -c conda-forge --quiet -y --name snakemake snakemake-minimal pytest

      - name: Fetch master
        if: github.ref != 'refs/heads/master'
        run: |
          git fetch origin master

      - name: Run tests
        env:
          DIFF_MASTER: ${{ github.event_name == 'pull_request' }}
          DIFF_LAST_COMMIT: ${{ github.ref == 'refs/heads/master' }}
        run: |
          # activate conda env
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate snakemake
          
          # run tests
          pytest test.py -v
